$main-bg: #FAFAFA;
$body-bg: #CECECE;
$main-color: #4CAF50;
$main-font-color: #111111;

// timeline
$timeline-width: 6px;
$timeline-size: 24px;

// radial
$size: 80px;
$border-size: 6px;
$inner-size: $size - (2 * $border-size);
$color: $main-color;
$background: $main-bg;