@import "config";
@import "mixins";
body {
  background-color: $main-bg;
  color: $main-font-color;
  margin: 0 auto;
  @include flexCenter(column);
}
#main-container {
  width: 960px;
  @include flexCenter(column);

  #main-content {
    width: 100%;
    @include flexSpaced(row);
  }
}

#experiences {
  flex: 50;
  @include flexCenter(column-reverse);
  .experience {
    display: flex;
    justify-content: space-between;
    width: 90%;
    .timeline {
      width: $timeline-width;
      margin: 0 (2 * $timeline-width);
      height: inherit;
      background-color: $main-color;
      position: relative;
      .timeline-event {
        position: absolute;
        top: 33%;
        width: $timeline-size;
        margin-left: ($timeline-size - $timeline-width) / -2;
        border-radius: $timeline-size/2;
        height: $timeline-size;
        background-color: $main-color;
      }
    }
    .experience-info {
      width: 100%;

    }
  }
}

#skills {
  display: flex;
  flex: 35;
  flex-direction: column;
}

.skill-progress {
  //background: rgba(0,0,0,0.1);
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}