@import "config";
@import "mixins";
body {
  background-color: $body-bg;
  color: $main-font-color;
  margin: 0 auto;
  @include flexCenter(column);
}
#main-container {

  background-color: $main-bg;
  box-shadow: 0px 0px 10px black;
  width: 960px;
  @include flexCenter(column);

  #main-content {
    width: 100%;
    @include flex(row, space-around, flex-start);
  }
}

  #experiences {
  @include flexCenter(column-reverse);
  width: 50%;
  .experience {
    @include flex(row, space-between, stretch);
    width: 100%;
    .timeline {
      width: $timeline-width;
      margin: 0 (2 * $timeline-width) 0 2em;
      background-color: $main-color;
      position: relative;
      .timeline-event {
        position: absolute;
        width: $timeline-size;
        margin-left: ($timeline-size - $timeline-width) / -2;
        height: 85%;
        border: solid $timeline-width / 2 $main-color;
        border-right: none;
        border-left: none;
        bottom: 8%;
        z-index: 10;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        span {
          margin-left: -4.5 * $timeline-width;
          font-style: italic;
        }
      }
    }
    .experience-info {
      flex: 80;
      @include flexSpaced(column);
      box-shadow: 4px 6px 7px -5px;
      margin: 1.5em 1em;
      .experience-heading {
        width: 100%;
        @include flexSpaced(row);
        h5 {
          flex: 50;
          text-align: center;
        }
        .logo {
          flex: 50;
          height: 32px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      .experience-subheading {
        width: 100%;
        @include flexSpaced(row);
        p {
          flex: 50;
          text-align: center;
        }
      }
      .desc {
        margin: 0.3em 0.3em 1em 1.4em;
      }
    }
  }
  .experience:last-child {
    .timeline:before {
      content: '';
      width: $timeline-width;
      height: 200px;
      background: linear-gradient(to bottom, rgba(0,0,0,0),$main-color); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: absolute;
      bottom: 100%;
    }
  }
}

#skills {
  display: flex;
  width: 33%;
  flex-direction: column;
  p.info {
    font-size: 16pt;
    margin: .5em 2em;
  }
  p.bold {
    font-weight: bolder;
  }
}

#footer {
  margin: 1em;
}

.skill-progress {
  //background: rgba(0,0,0,0.1);
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}